*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* CORES */

:root
{
    /* hexadecimal */
    --white: #fff;
    --dark: #303030;
    --brightblue: #0099ff; /* cor do fundo, azul em hexadecimal */
    --gray: #3d3d3d;
    --darkgray: #3e3d3d62;

    /* rgb */
    --offwhite: rgb(243, 243, 243);
    --mediumgray:  rgb(223, 223, 223);
    --darkergray: rgb(128, 128, 128);

    /* transparent */
    --lightgray: rgba(255, 255, 255, 0.6);
    --red: rgba(130, 12, 12, 0.7);
    --blue: rgba(6, 21, 117, 0.7);
    --green: rgba(6, 66, 2, 0.7);
    --orange:  rgba(215, 115, 0, 0.7);
}

/* CABEÇALHO */

header
{
    background-color: var(--dark);
    max-height: 4rem;
    min-height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

nav
{
    height: 4rem;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0rem 3rem 0rem 1rem;
} 

nav h1, nav a 
{
    color:var(--white);    
    text-decoration: none;
}

nav li
{
    display: inline;
    list-style: none;
    padding: 1rem;
}

/* MENU LATERAL */

.menu-lateral
{
    background-color: var(--mediumgray);
    position: fixed;
    min-height: 100vh; 
    /* viewport height. se fosse largura seria vw */
    width: 18vw;
    top: 4rem;
}

.menu-lateral li
{
    list-style: none;
    justify-content: center;
    margin: 1rem;
}

.menu-lateral a
{
    color: var(--gray);    
    text-decoration: none;
}

.menu-lateral i
{
    margin: 0rem 0.7rem 0rem 0rem;
}   

/* MAIN */

main
{
    background-color: var(--offwhite);
    position: relative;
    top: 4rem;
    left: 18vw;
    max-width: calc(100% - 18vw);
}

.titulo
{
    margin: 0.5rem 0.5rem;
}

/* CARDS */

.cards
{
    display: grid;
    margin: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;
}

.red
{
    background-color: var(--red);
}

.blue
{
    background-color: var(--blue);
}

.green
{
    background-color:var(--green);
}

.orange
{
    background-color: var(--orange);
}

.redFont
{
    color: var(--red);
}

.blueFont
{
    color: var(--blue);
}

.greenFont
{
    color:var(--green);
}

.orangeFont
{
    color: var(--orange);
}

.cards div
{
    height: 25vh;
    border-radius: 0.5rem;
    position: relative;
    /* cor aplicada com a classe respectiva, no html */

}

.cards a
{
    color: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
}

.cards i
{
    /* cor aplicada com a classe respectiva, no html */
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size:5rem;
}

.cards p, .cards h1
{
    /* color: var(--dark);     */
    color: var(--lightgray);
    margin: 0rem 0rem 0rem 1rem;
    /* titulos e paragrafos espacamento a esquerda de 1rem */
}

/* BOTOES */

.botoes-estrutura
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
    padding: 1rem;
}

.botoes
{
    display: flex;
    flex-direction: inline;
    box-shadow: 0.2rem 0.2rem 1rem var(--darkgray);
    background-color: var(--white);
}


.dark-blue-square
{
    align-content: center;
    width: 20%;
    height: 8vh;
    background-color: var(--brightblue);
}

.dark-blue-square i
{
    text-align: center; 
    width: 100%;
    color: var(--white);
    font-size: 2rem;
}

.white-rectangle
{
    /* texto deve ser central */
    text-align: center;
    align-content: center;
    width: 80%;
    height: 8vh;
}

.white-rectangle a
{
    color: var(--darkergray);
    text-decoration: none;
}



